<div class="outer">
  <div class="middle">
    <div class="inner">

      <div class="form-signin">
        <img class="mb-4" src="../assets/bikenobackground.png" alt="logo of a bike" width="150" height="150">
        <h1 class="h3 mb-3 font-weight-normal">E-bike verhuur Mere!</h1>
        <p>Deze website in nog in opbouw, kom later nog eens terug!</p>
      </div>

    </div>
    <footer class="mastfoot mt-auto">
      <div class="winner">
        <p>Website voor <a href="https://www.bcklet.be" target="_blank">BC Klèt</a> en <a href="https://www.thofschuurke.be" target="_blank">'t Hof Schuurke</a></p>
      </div>
    </footer>
  </div>
</div>

